body {
    margin: 0px; /* remove the white frame around the webpage */
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    display: flex; /* make the body a flexible container to organise all sections properly */
    flex-direction: column;
}

ul {
    list-style: none; /* remove bullet points before every list item */
    padding: 0;
    margin: 0;
}