body {
    margin: 0px; /* remove the white frame around the webpage */
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    display: flex; /* make the body a flexible container to organise all sections properly */
    flex-direction: column; /* make the flexbox items lay out themselves in a column */
}

.header {
    background-color: #1F2937;
    font-size: 24px; /* the font size of the logo */
    color: #F9FAF8; /* the text colour of the logo */
    font-weight: 700; /* boldness of the header logo */
    display: flex; /* make the header a flexible container; all items organise themselves in a row */
    justify-content: space-around; /* put the logo and the links at an equal distance from each other */
    padding: 12px 0; /* add 12px of top and bottom padding to the header */
}

.hero-header {
    color: #F9FAF8; /* the text colour of the hero main text */
    background-color: #1F2937; /* the background colour of the hero section */
    font-size: 48px; /* the font-size of the hero main text */
    font-weight: 800; /* boldness of the hero main text */
    display: flex; /* make the hero header a flexible container; everything aligned itself in a row */
    justify-content: center; /* drag everything to the centre of the main axis */
    gap: 210px; /* add a gap between the information and the image blocks */
    padding: 30px 0; /* add padding to the top and the bottom */
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 70px;
    width: 360px;
}

.image img {
    height: auto;
    width: 440px;
}

.information button {
    border: 0; /* remove the black border around the button */
    border-radius: 5px; /* cut the corners of the button to make it more rounded */
    padding: 10px 30px; /* add padding to the button */
    color: #E5E7EB; /* text colour of the button */
    background-color: #3882F6; /* background color of the button */
    font-weight: 800; /* boldness of the button text */
}

.hero-header p {
    font-size: 18px; /* the font-size of the hero secondary text */
    color: #E5E7EB; /* color of the hero secondary text */
    font-weight: normal /* font-weight of the hero secondary text */
}

.content {
    padding: 20px 0;
    color: #1F2937; /* color of the main text in the content section */
    font-size: 36px; /* font-size of the main text in the content section */
    font-weight: 800; /* boldness of the main text in the content section */
    text-align: center; /* align everything to the centre of the page */
 
}

.items {
    display: flex; /* make the items container flexible; all items arrange themselves in a row */
    justify-content: center; /* put everything in the centre */
    padding: 40px 0 70px 0; /* add padding to the top and the bottom */
}

.item {
    height: 200px; /* give every item a fixed height and width of 200px */
    width: 200px;
}

.content p {
    font-size: 18px; /* font-size of the subtext under the items in the content section */
    color: grey; /* colour of the subtext */
    font-weight: normal; /* boldness of the subtext */
}

.content img {
    height: 120px; /* the height and the width of all the images (numbers) in the content section */
    width: 120px;
}

.quote {
    background-color: #E5E7EB; /* background color of the quote section */
    font-size: 36px; /* font-size of quote text */
    color: #1F2937; /* text colour of the quote text */
    font-style: italic; /* change the quote style to italic */
    font-weight: 300; /* boldness of the quote text */
    padding: 70px 200px; /* add padding to center everything */
}

.author {
    font-size: 28px;
    text-align: right;
    font-style: normal;
    font-weight: 700;
}

.call-to-action {
    height: 250px; /* add a fixed height to the section */
    width: auto; /* make section as wide as the page itself */
    display: flex; /* make the section flexible and center the prompt message */
    justify-content: center;
    align-items: center;
}

.prompt {
    background-color: #3882F6; /* the background color of the prompt message */
    padding: 30px 100px; /* padding of the prompt message */
    border-radius: 8px; /* round the corners of the prompt message */
    display: flex; /* make the prompt flexible */
    justify-content: center; /* put everything to center; stop button from stretching */
    align-items: center;
    gap: 70px; /* put a gap between the button and the text */
}

.prompt .contact-me {
    color: #E5E7EB; /* the color of the text of the prompt message */
    font-size: 28px; /* the font-size of the main text of the prompt message */
    font-weight: 800; /* the boldness of the main text of the prompt message */
}

.prompt p {
    font-size: 16px; /* the font-size of the text below the main text of the prompt message */
    margin: 5px 0; /* reduce the margin between the main text and the subtext of the prompt message */
    font-weight: normal; /* return the boldness of the subtext to normal */ 
}

.prompt button {
    background-color: #3882F6; /* the background color of the button */
    border: 2px #E5E7EB solid; /* add a border to the button */
    color:#E5E7EB; /* color of the text of the button */
    border-radius: 8px; /* round the corners of the button */
    padding: 8px 20px; /* add padding to the button */
    font-weight: 800; /* boldness of the button text */
}

.footer {
    background-color: #1F2937; /* background color of the footer */
    color: #E5E7EB; /* color of the text in the footer */
    height: 80px; /* height of the footer */
    font-size: 18px; /* font-size of the text in the footer */
    display: flex; /* create a flexbox container */
    justify-content: center; /* align the text on the centre of the main axis */
    align-items: center; /* align the text on the centre of the cross axis */
}

ul {
    list-style: none; /* remove bullet points before every list item */
    padding: 0; /* remove the initial padding and margin for the unordered list */
    margin: 0;
    display: flex; /* make the unordered list a flexible container to put every list item in a row */
    gap: 15px; /* add a gap of 15 pixels between every list item */
}

a {
    text-decoration: none; /* remove underlining of the links */
    color: #E5E7EB; /* color of all links */
    font-size: 18px; /* font size of all links */
    font-weight: normal; /* boldness of all links */
}

